@keyframes custom-spin-hover {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes custom-spin-hover {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  .animate-custom-spin-hover:hover {
    animation: custom-spin-hover 3s linear infinite; /* Adjust the duration as needed */
  }
  